@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));
/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

@theme {
  --font-signika: "Signika", sans-serif;
  --font-cinzel: "Cinzel Decorative", serif;
  /*--color-primary: #91273C;*/
  /*--color-primary: oklch(45.9% 0.187 3.815); !* pink-800 *!*/
  --color-primary: oklch(0.445 0.1408 13.71); /* #91273c */
  /*--color-primary: oklch(49.1% 0.27 292.581); !* violet-700 #7008e7 *!*/
  --bg-dark: oklch(13% 0.028 261.692);  /* gray-950 #030712 */
  /*--bg-light: oklch(92.8% 0.006 264.531);  !* gray-200 #e5e7eb *!*/
  --bg-light: white;  /* white */
  --border: oklch(70.7% 0.022 261.325);
  --text-dark: oklch(92.8% 0.006 264.531); /* gray-200 #e5e7eb */
  --text-light: oklch(13% 0.028 261.692); /* gray-950 #030712 */
  --hover-dark: oklch(27.8% 0.033 256.848); /* grey-800 #1e2939 */


  /*--hover-dark: oklch(51.4% 0.222 16.935);*/

}
/*header {*/
/*    z-index: 999;*/
/*}*/
html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--color-primary);
    /*color: var(--color-light-primary);*/
}

pre {

}


.richtext {
    font-size: 1rem;
    width: 70%;
    max-width: 70%;
    /*color: blue;*/
    margin: auto;
    /*padding: 20px 0;*/

}

.richtext p {
    padding: 20px 0;
    /*color: blue;*/
}

.richtext h2 {
    font-size: 2.5rem;
    /*color: red;*/
}

.richtext h3 {
    font-size: 1.75rem;
    /*color: green;*/

}

.richtext img {
    padding: 20px 0;
    /*padding: 10px;*/
    /*border: 5px solid green;*/
    /*background: white;*/
}

.richtext code {
    /*color: orange;*/
    font-family: 'Mono';
    color: #e5e7eb;
    background: #333;
    padding: 2px 6px;
    border-radius: 5px;
}

/*.toolbar .toolbar-item .copy-to-clipboard-button {*/
/*  !* Keep the copy button visible at all times *!*/
/*     color: green;*/
/*     opacity: 1 !important;*/
/*     visibility: visible !important;*/
/*}*/

div.code-toolbar .toolbar {
    /*max-width: 50px;*/
    /*color: red;*/
    /*background: red;*/
    opacity: 1 !important;
}

.toolbar .toolbar-item {
  /* Keep the copy button visible at all times */
  /*  font-size: 1rem;*/
    font-weight: bold;
    color: #91273c;
    /*margin: 3px 3px 6px 3px;*/

    /*background: red;*/
    opacity: 1 !important;
    visibility: visible !important;
}
/*.copy-to-clipboard-button:hover {*/
/*    color: green;*/
/*}*/

aside {
    scroll-behavior: smooth;
}









