{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}
{#    <h1>Hello from the Product Listing Page!</h1>#}

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
            <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Products</h2>
                <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Explore the whole collection of digital products in Micro eCommerce.</p>
            </div>
            <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
                {% for product in products %}
                    {% include 'products/product_card.html' %}
                {% endfor %}
            </div>
        </div>
    </section>


{#    {% for product in products %}#}
{#    <h1><a href="{{ product.url }}">{{ product.product_name }}</a></h1>#}
{#    {% endfor %}#}
{% endblock content %}
