{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}{{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}


        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href={% static 'favicon/favicon-32x32.png' %}>
        <link rel="icon" type="image/png" sizes="16x16" href={% static 'favicon/favicon-16x16.png' %}>
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script>
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
        <script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.0/dist/cdn.min.js "></script>
    </head>


    {% include "includes/main_nav.html" %}
{#    <main class="bg-gray-200 text-gray-900 dark:bg-gray-900 dark:text-gray-200">#}
    <body class="bg-(--bg-light) dark:bg-(--bg-dark)">
    <main class="bg-(--bg-light) text-(--text-light) dark:bg-(--bg-dark) dark:text-(--text-dark)">
        {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}


    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script type="text/javascript" src="{% static 'htmx/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
